
 <h2>Advanced Search </h2>
 <%= simple_form_for( @search, :html => {:class => 'form-inline' } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :keywords %><br />
    <%= f.input :min_price , input_html: { maxlength: 10 } , as: :string  %> - 
    <%= f.input :max_price , input_html: { maxlength: 10 } , as: :string %><br/>
    <%= f.association :category , :prompt => 'select' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , 'search' %>
  </div>
<% end %>